name: Smart Snake Generator

permissions:
  contents: write

on:
  workflow_dispatch:
  workflow_call:

jobs:
  generate:
    runs-on: ubuntu-latest
    
    steps:
      - name: Generate Snake SVG
        uses: Platane/snk@v3.3.0
        with:
          github_user_name: nihaltp
          outputs: ./github-contribution-grid-snake.svg?palette=github-dark&color_snake=#fe428e&color_dots=#0a192f,#1e3a8a,#2563eb,#60a5fa,#93c5fd
      
      - name: Push the SVG to output branch
        uses: crazy-max/ghaction-github-pages@v3
        with:
          target_branch: output
          build_dir: .
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
